<p id="notice"><%= notice %></p>
<h1 class="green"><%= @user.name %></h1>
<span id="bio">Bio:</span> <%= @user.bio %>
<h3>Playlists</h3>
<% Playlist.all.each do |playlist| %>
  <% if (playlist.users.include? @user) || (@user.playlists.include? playlist) %>
    <tr>
      <td><%= playlist.name %></td>
      <td><%= link_to 'Show', "/playlists/#{playlist.id}" %></td>
      <% if @user ==  current_user %>
        <td><%= link_to 'Delete', "/playlists/#{playlist.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <% if logged_in? %>
        <td><%= link_to 'Join Playlist', "/playlists/#{playlist.id}", method: :post %></td>
      <% end %>
      <br>
    </tr>
  <% end %>
<% end %>
<br>
<br>
<% if logged_in? && @user == current_user %>
  <%= link_to 'New Playlist |', new_playlist_path(@user.id), class: "user-btn" %>
  <%= link_to 'Edit User |', edit_user_path(@user), class: "user-btn" %>
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "user-btn" %>
<% end %>

<br>
<br>

<%= link_to 'Back', users_path, class: "user-btn" %>
