<div>
	</br>
	<p id="notice"><%= notice %></p>

	<h2 class="green">
	  <strong>Song:</strong>
	  <%= @song.name %>
	</h2>

	<h2>
	  <strong>Artist:</strong>
	  <%= @song.artist %>
	</h2>
	<br>

	<iframe src="https://embed.spotify.com/?uri=<%=@song.spotify_uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe><br>

	<h3>Playlists Containing This Song:</h3>
	<% Playlist.all.each do |playlist| %>
      <% playlist.songs.each do |s| %>
        <% if s.name.eql? @song.name %>
          <%= playlist.name %>
          <br>
        <% end %>
      <% end %>
    <% end %>
    <br>

	<footer>
		<%= link_to 'Back', "/playlists/#{params[:playlist_id]}" %>
	</footer>
</div>
